<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<title>Hello, world!</title>
		<style type="text/css">
			.login-form {
				width: 340px;
				margin: 50px auto;
			}
			.login-form form {
				margin-bottom: 15px;
				background: #f7f7f7;
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
				padding: 30px;
			}
			.login-form h2 {
				margin: 0 0 15px;
			}
			.form-control, .btn {
				min-height: 38px;
				border-radius: 2px;
			}
			.btn {        
				font-size: 15px;
				font-weight: bold;
			}
		</style>
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<script>
			$(document).ready(function(){
				$("#myModal").modal('show');
			});
		</script>
	</head>
	<body>
		<div id="myModal" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">PostgreSQL DB status</h5>
						<button type="button" class="close" data-dismiss="modal">&times;</button>                
					</div>
					<div class="modal-body">
						<%
							if(isConnected) {
						%>
							<p>Połączono z bazą danych</p>
						<%
							} else {
						%>
							<p>Nie połączono z bazą danych</p>
						<%
							}
						%>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
			<div class="container">
				<a class="navbar-brand" href="/">HEROKU
				<%
					if(loggedin) {
				%>
					Witaj <%=name%> !
				<% } else { %>
					Zaloguj się
				<% } %>
				
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/">Strona główna
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/register">Register</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/lab4">LAB4</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Joined</th>
								<th>Lastvisit</th>
								<th>Counter</th>
							</tr>
						</thead>
						<tbody>
							<% if(data.length && isConnected){ 
								for(var i = 0;i < data.length;i++) { 
									var joined = new Date(parseInt(data[i].joined));
									var lastvisit = new Date(parseInt(data[i].lastvisit));
							%>
							<tr>
								<td><%=data[i].id%></td>
								<td><%=data[i].name%></td>
								<td><%=joined%></td>
								<td><%=lastvisit%></td>
								<td><%=data[i].counter%></td>
							</tr>
							<% }
							}else{ %>
							<tr>
								<td colspan="5">No Data</td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>